@import url(https://fonts.googleapis.com/css?family=Cabin:regular,600,700&display=swap);

.body, html {
    font-family: Cabin, sans-serif;

}

.container {
    width: 1296px;
    margin-left: auto;
    margin-right: auto;
}

/*------------HEADER-----------*/

.page__header {
    background-color: #10BBD5;
    position: fixed;
    z-index: 1;
    width: 100%;

}

.page__header-top {
    display: flex;
    padding-top: 22px;
    padding-bottom: 22px;
    justify-content: space-between;
    position: relative;

}

.page__header-price {
    margin: 0 0 0 auto;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #FFF;
}

.cart-btn {
    background-image: url(../image/cart_icon.png);
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    position: relative;
    top: -8px;
    right: 0px;
    margin-left: 8px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.cart-btn::before {
    content: "0";
    font-weight: 400;
    font-size: 12px;
    line-height: 83%;
    color: #000;
    display: block;
    position: absolute;
    top: 13px;
    right: 13px;
}

.page__header-bottom {
    background-color: #FFF;

}

.header__bottom-wrap {
    display: flex;
    justify-content: space-between;
    padding: 4px 0;
}

.nav__list {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;

}

.nav__item {
    margin-right: 40px;
}

.nav__item:nth-child(4n - 1) {
    margin-right: 0;
}

.nav__item:last-child {
    margin-right: 0;
}

.main__content {
    background-color: #eeeeef;
}

.header-bottom-subtitle {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #000;
}

.header-bottom-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #000;
}

.nav__item-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #000;
}

/*----------BOOKS-----------*/

.books {
    padding-top: 32px;
    padding-bottom: 120px;
}

.books__title {
    font-weight: 600;
    font-size: 32px;
    line-height: 125%;
    color: #1f1f1f;
    border-bottom: 1px solid #a8a8a8;
    padding-top: 85px;
    padding-bottom: 23px;
}

.books__list {
    list-style-type: none;
    padding-left: 0;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(4, 1fr);
    gap: 32px 24px;

}

.books__item {
    border: 1px solid #A8A8A8;
    background-color: #F8FDFE;
    padding: 32px;

}

.books__item-img {
    margin-left: auto;
    margin-right: auto;
}

.books__item-subtitle {
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    color: #1f1f1f;
    border-bottom: 1px solid #a8a8a8;

}

.books__autor {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #8e8e8e;
    margin-top: 0;
    margin-bottom: 0;
}

.books__price {
    font-weight: 500;
    font-size: 24px;
    line-height: 133%;
    color: #e90000;
    margin: 0 24px 0 0;
}

.books__price-wrap {
    display: flex;
}

.books__sale {
    font-weight: 500;
    font-size: 24px;
    line-height: 133%;
    text-decoration: line-through;
    color: #8e8e8e;
}

.books__btn {
    border-radius: 4px;
    padding: 8px 24px;
    width: 242px;
    height: 40px;
    background-color: #4c394e;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #f8fdfe;
    margin-top: 16px;
    cursor: pointer;
}

.books__btn-end {
    border-radius: 4px;
    padding: 8px 24px;
    width: 242px;
    height: 40px;
    background-color: #4d762d;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #f8fdfe;
    margin-top: 16px;
    cursor: pointer;
}

.books__item-link {
    position: relative;

}

.hit {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #f8fdfe;
    border-radius: 4px;
    padding: 4px 8px;
    width: 36px;
    height: 32px;
    background-color: #4200ff;
    position: absolute;
    top: 0;
    left: -3px;
}

.new {
    border-radius: 4px;
    padding: 4px 8px;
    width: 47px;
    height: 32px;
    background-color: #af39e7;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #f8fdfe;
    position: absolute;
    top: 0;
    left: -14px;
}

.price__off {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #f8fdfe;
    border-radius: 4px;
    padding: 4px 8px;
    width: 70px;
    height: 32px;
    background-color: #ea33c0;
    position: absolute;
    top: 0;
    left: 35px;
}

.price__off-20 {
    line-height: 150%;
    text-align: center;
    color: #f8fdfe;
    border-radius: 4px;
    padding: 4px 8px;
    width: 70px;
    height: 32px;
    background-color: #ea33c0;
    position: absolute;
    top: 0;
    left: -3px;
}

.chat__icon-img {

    position: fixed;
    top: 630px;
    right: 330px;
    z-index: 1;
}


/*------------FOOTER-----------*/

.page__footer {
    background-color: #4C394E;
}

.container-footer {
    display: flex;
    justify-content: space-between;
    padding: 32px 0;
}

.footer__content-data {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #f8fdfe;
    margin-top: 0;
    margin-bottom: 0;
}

.footer__content-txt {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #f8fdfe;
    margin-top: 0;
    margin-bottom: 0;
}